<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGOL Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div class="navbar">
        <!--Desktop and mobile nav bars-->
        <div class="wrapper">

            <a class="home" href="{{ url_for('home') }}"> CGO<span>Life</span></a>
            <img class="mobileOpen" id="openMenu" src="../images/hamburger.svg" alt="Open menu">

            <nav>
                <img class="mobileExit" id="closeMenu" src="../images/close.svg" alt="Close menu">
                <ul class="navLeft" id="navLinks">
                    <li class="curent"><a href="{{ url_for('home') }}">Home</a></li>

                    <li><a href="#rulesSection">Rules</a></li>
                    <li><a href="#contactSection">Contact</a></li>
                </ul>

                <ul class="navRight">
                    <!--Jump to landing/login page-->
                    <li class="item1"><a href="{{ url_for('login') }}">Log In</a></li>

                </ul>
            </nav>
        </div>
    </div>

    <section class="hero" id="intro">
        <!--"Main title" block-->
        <header role="banner">
            <h1 class="topTitle">A Cellular <span>Automaton</span></h1>
            <h2 class="botTitle">Customizable Cell Simulator<h2>
        </header>

        <div class="startButton">
            <a href="{{ url_for('sim') }}" class="ctaText">Start</a>
        </div>

        <div class="summary">
            <p>Based on Conway's Game of Life; a simulator to visualize cellular evolution.</p>
        </div>
    </section>

    <section class="simQualities">
        <!--Bulleted list (w/arrowheads)-->
        <div class="wrapper">
            <ul class="qualityList">
                <li>Cellular Evolution</li>
                <li>User-Determined Rules</li>
                <li>Turing Complete</li>
                <li>Sentient Cells</li>
                <li>Universal Constructor</li>
            </ul>
        </div>

        <div class="gallery">
            <div class="wrap">
                <a href="../images/Game_of_life_beacon.gif" target="_blank">
                    <img src="../images/Game_of_life_beacon.gif">
                </a>
                <figcaption class="desc">Beacon</figcaption>
            </div>

            <div class="wrap">
                <a href="../images/Game_of_life_blinker.gif" target="_blank">
                    <img src="../images/Game_of_life_blinker.gif">
                </a>
                <figcaption class="desc">Blinker</figcaption>
            </div>
    
            <div class="wrap">
                <a href="../images/Game_of_life_pulsar.gif" target="_blank">
                    <img src="../images/Game_of_life_pulsar.gif">
                </a>
                <figcaption class="desc">Pulsar</figcaption>
            </div>

            <div class="wrap">
                <a href="../images/Game_of_life_toad.gif" target="_blank">
                    <img src="../images/Game_of_life_toad.gif">
                </a>
                <figcaption class="desc">Toad</figcaption>
            </div>

            <div class="wrap">
                <a href="../images/I-Column.gif" target="_blank">
                    <img src="../images/I-Column.gif">
                </a>
                <figcaption class="desc">I-Column</figcaption>
            </div>
        </div>


    </section>

    <section class="mainRules" id="rulesSection">
        <!--Game of Life explanation section-->
        <div class="wrapper">
            <h2>General Rules</h2>
            <ol>
                <li>
                    <blockquote> 
                        Cells have a living condition based on the number of neighbors. 
                        If there are too little or too many neighbors, the cell will die.
                    </blockquote>
                </li>

                <li>
                    <blockquote>
                        All other live cells die in the next generation. All other dead cells stay
                        dead.
                    </blockquote>
                </li>

                <li>
                    <blockquote>
                        The user will determine the living conditions via number of neighbors for 
                        cells to stay alive, spawn, or die.
                    </blockquote>
                </li>
            </ol>

            <br>
            <h3>About the Game of Life and our version</h3>
            <p>
                The Game of Life is originally a zero-player game,
                which meant the fate of cells was decided based on
                the cells' starting states which the user configured.
            </p>

            <p>
                We have here a simulation style game based on Conway’s Game of life,
                built from scratch with customizable settings and rules.
                Cells will follow a set of rules defined by the user.
            </p>


        </div>
    </section>

    <section class="contactBlock" id="contactSection">
        <div class="wrapper">
            <div class="leftContact">
                <h2>Contact Us</h2>

                <form action="" method='POST'>
                    <!--Contact form not functioning yet. Need backend to send email directly from website-->
                    <!--"mailto" hyperlink is placeholder-->
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Your name" required>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Your email" required>

                    <label for="message">Message</label>
                    <textarea class="messageBox" name="message" id="message" cols="30" rows="10"
                        placeholder="Say stuff"></textarea>

                    <input type="submit" class="sendMessage" value="Send message">
                    <br>
                    {% if feedback %}
                    <br>
                    <p class="text-danger">{{ feedback }}</p>
                    {% endif %}
                </form>
            </div>
        </div>

    </section>

    <script>
        // mobileOpen and mobileExit icon functions thanks to https://youtu.be/D-h8L5hgW-w?t=6633
        let mobileOpen = document.getElementById('openMenu')
        mobileExit = document.getElementById('closeMenu')
        mobileLink = document.getElementById('navLinks')
        nav = document.querySelector('nav');

        mobileOpen.addEventListener('click', () => { nav.classList.add('openMobNav'); })
        mobileExit.addEventListener('click', () => { nav.classList.remove('openMobNav'); })
        mobileLink.addEventListener('click', () => { nav.classList.remove('openMobNav'); })


        window.onscroll = function() {myFunction()};
        var navbar = document.getElementsByClassName("navbar")[0];
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky");
            }
            else { navbar.classList.remove("sticky"); }
        }

    </script>

</body>

</html>
