<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGOL Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="title">
        <h1>Welcome To CGOL!</h1>
    </div>

    <!--Note: Login doesn't function yet. Need backend for this.-->
    <!--Just click skip for now-->
    <div class="loginBlock">
        <form id="loginForm" method="post" action="">
            <h2>Login Here</h2>
            <p>Email</p>
            <input type="email" name="email" class="typeSpace" placeholder="Enter email" required>

            <p>Password</p>
            <input type="password" name="password" class="typeSpace" placeholder="Enter password" required>
            <input type="submit" class="submitButton" value="Login">
            <a class=fpw href="#">Forgot your password?</a><br>
            <a href="{{ url_for('createAccount') }}">Create an account</a><br>

            <!--Jump to home page-->
            <a class="skip" href="{{ url_for('home') }}">Skip</a>

        </form>
    </div>

</body>

</html>
