@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


body {
    font-family: ubuntu;
    margin: 0;
    background-color: #20232ede;

    a { color: white;}
    a:hover { color: #0693e3}
}

.sidebar {
    //Position and decorate sidebar elements
    display: block;
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: #1c202a;
    text-align: center;
    
    .home { //"Return to home" link
        text-decoration: none;
        font-size: 1.1em;
        line-height: 3em;
    }

    .custom-shape { //"Select shape" dropdown
        position: relative;
        align-items: center;
    }

    .custom-pattern { //"Select pattern" dropdown
        position: relative;
        align-items: center;
    }
}

.sidebar h1 { //Sidebar title
    font-size: 30px;
    text-align: center;
    line-height: 65px;
    background-color: #dd163b; 
    color: white;
    
}

.select-shape, .select-pattern { 
    //Position and decorate selectors
    text-align-last: center;
    font-size:1.3rem;
    color: white;
    background-color: #4d5061;
    border: none;
    outline: none;
    border-radius: 0.25em;
}

.select-shape {padding: 1em 2em 1em 1em;}
.select-pattern {padding: 1em 1.67em 1em 1em;}

.custom-arrow { //Up and down arrows on selectors 
    position: absolute;
    top: 0;
    left: 215;
    display: block; 
    background: #3b3c47;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    height: 100%;
    width: 2.5em;
    pointer-events: none;

    &:before, &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:before{ //Up arrow
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        border-bottom: 0.5em solid grey;
        top: 42%;
    }

    &:after {//Down arrow
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        border-top: 0.5em solid grey;
        top: 60%;
    }
}

.min2Live, .max2Live, .min2Spawn, .max2Spawn {
    //General sliders customizations 
    width: 75%;
    height: 30px;
    outline: none;
    border-radius: 4px;
}

p { //Texts above sliders
    margin: 0;
    padding: 0;
    color: white;
}

b {color: #63c5da;}
output {color: white;}


.startButton {
    //Position and decorate start button
    font-family: ubuntu;
    font-size: 35px;
    width: 6em;
    height: 2em;
    text-align: center;
    border: 3px solid #00a884;
    color: white;
    background: transparent;
    position: relative;
    overflow: hidden;
    
    &:before { 
        //First layer of start button (transparent)
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: #00a884;
        opacity: 0.4;
        z-index: -1;
        transition: 0.2s;
    }

    &:after {
        //Second layer of start button (solid color)
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: #00a884;
        z-index: -1;
        transition: 0.25s;
        transition-delay: 0.2s;
    }

    &:hover:before, &:hover:after {
        //Show "animation"
        top: 0;
        color: #fff;
    }
}

