
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
body {
  font-family: ubuntu;
  margin: 0;
  background-color: #20232ede;
}

body a {
  color: white;
}

body a:hover {
  color: #0693e3;
}

.scripts {
  border: 3px solid white;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sidebar {
  display: block;
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  background: #1c202a;
  text-align: center;
}

.sidebar .home {
  text-decoration: none;
  font-size: 1em;
  line-height: 2.5em;
}

.sidebar .custom-shape {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .custom-pattern {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .cell-layout {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar h1 {
  font-size:22px;
  text-align: center;
  line-height: 36px;
  background-color: #0693e3;
  color: white;
}

.select-shape, .select-pattern, .select-layout {
  text-align-last: center;
  font-size: 1.1rem;
  color: white;
  background-color: #4d5061;
  border: none;
  outline: none;
  border-radius: 0.1em;
}

.select-shape {
  padding: .7em 1.7em .7em .7em;
}

.select-pattern {
  padding: .7em 1.57em .7em .7em;
}

.select-layout {
  padding: .7em 1.8em .7em .7em;
}

.custom-arrow {
  position: absolute;
  top: 0;
  left: 215;
  display: block;
  background: #3b3c47;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  height: 100%;
  width: 2em;
  pointer-events: none;
}

.custom-arrow:before, .custom-arrow:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.custom-arrow:before {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.5em solid grey;
  top: 42%;
}

.custom-arrow:after {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid grey;
  top: 60%;
}

.min2Live, .max2Live, .min2Spawn, .max2Spawn {
 width: 3em;
 color: white;
  /*width: 75%;
  height: 30px;
  outline: none;
  border-radius: 4px;*/
}

p {
  margin: 0;
  padding: 0;
  color: white;
}

b {
  color: #63c5da;
}

output {
  color: white;
}

.text-danger {
  font-size: 1em;
  text-align: center;
  line-height: 1.1em;
  color: white;
  background: #dd163b;
}

.submitButton {
  font-family: ubuntu;
  font-size: 18px;
  width: 6em;
  height: 1.5em;
  text-align: center;
  border: 2px solid #9932cc;
  color: white;
  background: #9932cc;
  position: relative;
  overflow: hidden;
}

.startButton, .pauseButton, .stopButton {
  display: inline-block;
  font-family: ubuntu;
  font-size: 22px;
  width: 3.7em;
  height: 1.7em;
  text-align: center;
}

.startbutton:active {
  background-color: #006650;
}

.pauseButton:active {
  background-color: #105279;
}

.stopButton:active {
  background-color: #3d0e1770;
}

.startButton {
  border: 2px solid #00a884;
  color: white;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.startButton:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #00a884;
  opacity: 0.4;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.startButton:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #00a884;
  z-index: -1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.pauseButton {
  border: 2px solid #0693e3;
  color: white;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.pauseButton:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #0693e3;
  opacity: 0.4;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pauseButton:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #0693e3;
  z-index: -1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.stopButton {
  border: 2px solid #dd163b;
  color: white;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.stopButton:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #dd163b;
  opacity: 0.4;
  z-index: -1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.stopButton:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #dd163b;
  z-index: -1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.startButton:hover:before, .startButton:hover:after {
  top: 0;
  color:  #00a884;
}

.pauseButton:hover:before, .pauseButton:hover:after {
  top: 0;
  color: #fff;
}

.stopButton:hover:before, .stopButton:hover:after {
  top: 0;
  color: #fff;
}

/* https://itnext.io/how-to-create-a-custom-right-click-menu-with-javascript-9c368bb58724 */

#context-menu {
  position:fixed;
  z-index: 10000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display:none;
}
#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: #eee;
  border-radius: inherit;
}
#context-menu.visible {
  display:block;
}


